repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: local
    hooks:
    - id: uv-lock
      name: uv lock
      description: "Automatically run 'uv lock' on your project dependencies"
      entry: uv lock
      language: system
      files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
      pass_filenames: false
    - id: ruff-format
      name: ruff format
      description: Run ruff format
      entry: uv run --locked ruff format
      language: system
      'types_or': [python, pyi]
      require_serial: true
    - id: ruff-check
      name: ruff check
      description: Run ruff linting
      entry: uv run --locked ruff check --force-exclude
      language: system
      'types_or': [python, pyi]
      require_serial: true
      args: [--fix, --exit-non-zero-on-fix]
