# Github Action Workflow enforcing our code style and running tests.

name: CI

# Trigger the workflow on both push (to the main repository)
# and pull requests (against the main repository, but from any repo).
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.repository }}-${{ github.ref }}
  cancel-in-progress: false

defaults:
  run:
    shell: bash

env:
  # https://docs.astral.sh/uv/reference/environment/
  UV_LOCKED: 1
  UV_NO_SYNC: 1
  UV_PYTHON_DOWNLOADS: never

permissions:
  contents: read
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: set up environment
        id: setup-env
        uses: ./.github/actions/setup-env
        with:
          python-version: "3.10"
          install-env: true

      - uses: j178/prek-action@91fd7d7cf70ae1dee9f4f44e7dfa5d1073fe6623 # v1.0.11
        env:
          RUFF_OUTPUT_FORMAT: "github"

  sessions:
    name: nox sessions
    runs-on: ubuntu-latest
    outputs:
      jobs: ${{ steps.set-sessions.outputs.sessions }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: set up environment
        id: setup-env
        uses: ./.github/actions/setup-env
        with:
          python-version: "3.10"

      - name: export nox sessions
        id: set-sessions
        run: |
          echo "sessions=$(nox --list -t ci --json | jq -c '[.[] | {name: .session, python: .python}]')" >> $GITHUB_OUTPUT

  ci:
    name: ${{ matrix.job.name }} on Python ${{ matrix.job.python || '3.10' }}
    runs-on: ubuntu-latest
    needs: [sessions]
    strategy:
      matrix:
        job: ${{ fromJson(needs.sessions.outputs.jobs) }}
    env:
      NOXSESSION: ${{ matrix.job.name }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: set up environment
        id: setup-env
        uses: ./.github/actions/setup-env
        with:
          python-version: ${{ matrix.job.python || '3.10' }}

      - name: Install dependencies
        run: |
          nox --install-only

      - name: Run nox -s ${{ matrix.job.name }}
        run: nox

      - name: check diff
        run: git diff --exit-code

  check:
    name: Check CI passed
    if: always()
    needs:
      - lint
      - ci

    runs-on: ubuntu-latest

    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
